{%  extends 'dashboard/base.html' %}
{% block title %}Recipes detail{% endblock %}
{% load static %}
{% block content %}

<div class="card-header">
    <h4 class="card-title">{{one.content}}</h4>
</div>
<div class="card-content table-responsive table-full-width">
<table class="table table-striped">
    <thead>
        <th>Key</th>
        <th>Values</th>
    </thead>
    <tbody>
        <tr>
            <td>Id</td>
            <td>{{ one.id }}</td>
        </tr>
        <tr>
            <td>content</td>
            <td>{{ one.content }}</td>
        </tr>
        <tr>
            <td>Slug</td>
            <td>{{ one.slug }}</td>
        </tr>
    </tbody>
</table>
<a href="{% url 'cat_edit' pk=one.id %}"><button class="btn btn-success btn-fill btn-wd">edit</button></a>
<a href="{% url 'cat_del' pk=one.id %}"><button class="btn btn-danger btn-fill btn-wd">Delete</button></a>
</div>

{% endblock %}






















